<nav>
  <li class="lin"><%= link_to "Complete your register with your preferences", :controller=>'users', :action=>'new' %></li>
</nav><div class='clear'></div><br>

<div class="fom">
<div id="nm">
    <h3>Secret Friend</h3>
  </div>
<table border='1'>
  <thead>
    <tr>
      <th>Name friend secret</th>
      <th>Like friend secret</th>
      <th>Dislike friend secret</th>
  </thead>
  <tbody>
    <tr>
    <!-- arreglar al momento en que el usuario ya jugo actual manda error-->
      <td><%= @user_play.name %></td>
      <td><%= @user_play.like %></td>
      <td><%= @user_play.dislike %></td>
    </tr>
  </tbody>
</table>
</center>