.myButton {
  margin: 20%;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4579c7), color-stop(1, #2abdb1));
  background:-moz-linear-gradient(top, #4579c7 5%, #2abdb1 100%);
  background:-webkit-linear-gradient(top, #4579c7 5%, #2abdb1 100%);
  background:-o-linear-gradient(top, #4579c7 5%, #2abdb1 100%);
  background:-ms-linear-gradient(top, #4579c7 5%, #2abdb1 100%);
  background:linear-gradient(to bottom, #4579c7 5%, #2abdb1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4579c7', endColorstr='#2abdb1',GradientType=0);
  background-color:#4579c7;
  -moz-border-radius:34px;
  -webkit-border-radius:34px;
  border-radius:34px;
  border:2px solid #1046e8;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:28px;
  padding:13px 76px;
  text-decoration:none;
  text-shadow:7px 6px 4px #2f6627;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2abdb1), color-stop(1, #4579c7));
  background:-moz-linear-gradient(top, #2abdb1 5%, #4579c7 100%);
  background:-webkit-linear-gradient(top, #2abdb1 5%, #4579c7 100%);
  background:-o-linear-gradient(top, #2abdb1 5%, #4579c7 100%);
  background:-ms-linear-gradient(top, #2abdb1 5%, #4579c7 100%);
  background:linear-gradient(to bottom, #2abdb1 5%, #4579c7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2abdb1', endColorstr='#4579c7',GradientType=0);
  background-color:#2abdb1;
}
.myButton:active {
  position:relative;
  top:1px;
}